/model/target/
/rest/nbactions.xml
/rest/target/
/webapp/target/
/webapp/dependency-reduced-pom.xml
/webapp/nbactions.xml
/calico/target/
/calico/nb-configuration.xml
/target/
/calico-ui/target/
/calico-standalone/target/